#root {
  text-align: center;
  display: block;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

a,
button,
p,
h1,
h2,
h3,
li {
  transition: 300ms;
}

a:hover,
button:hover,
p:hover,
h1:hover,
h2:hover,
h3:hover,
li:hover {
  transition: 300ms;
}

a:not(:hover),
button:not(:hover),
p:not(:hover),
h1:not(:hover),
h2:not(:hover),
h3:not(:hover),
li:not(:hover) {
  transition: 300ms;
}

button {
  border-radius: 8px;
  border: 1px solid grey;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: skyblue;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 10px 10px;
}

button a {
  color: white;
}

a:hover {
  font-size: 1.1rem;
  color: black;
}

button:hover {
  background-color: white;
  border-color: black;
}
